/* This is used to make the background slide white */
/*.title-slide {
  background-color: white;
}*/

.title-slide h1 {
  text-align: center;
  color: white;
}

.title-slide h2 {
  text-align: center;
  color: white;
}

.title-slide h3 {
  text-align: center;
  color: #D59F0F;
}

.title-slide .remark-slide-number {
  display: none;
}

.my-footer {
content: "";
    position: absolute;
    bottom: 15px;
    right:   8px;
    height: 70px;
    width: 800px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("http://www.posgrado.unam.mx/linguistica/img/cabecera.png");
}

.iconFront {
content: "";
    position: absolute;
    bottom: 90px;
    right:   8px;
    height: 200px;
    width: 800px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/Escudo-UNAM-escalable.svg/800px-Escudo-UNAM-escalable.svg.png");
}